.container{
    width: 4rem;
    height: 4rem;
    position: absolute;
    margin-top: 2rem;
    z-index: 20;
    left: 0;
    top:0;
    cursor: pointer;
}

.lines{
    height: 0.3rem;
    background-color: white;
    opacity: 0.8;
    margin-top: 0.5rem;
    transition: all 0.3s;
}

.container:hover .lines{
    width: 2.5rem !important;
}