.container{
    height: calc(100% - 4rem);
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 2rem 0;
    position: absolute;
    z-index: 100;
    background-color: rgba(28, 29, 33, 0.88);
    width: 100%;
    transition: all 1s;
}

.menu{
    height: 100%;
    display: flex;
    align-items: center;
}