.container {
    position: absolute;
    width: calc(100vw - 40rem);
    margin-left: 40rem;
    height: 100vh;
    top: 0;
    font-size: 3rem;
    color: #EA2E49;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    flex-flow: column;
}

.quote {
    font-size: 6rem;
    font-style: italic;
}

.quoted-person {
    align-self: flex-end;
}

.strikes{
    position: absolute;
    left: -40rem;
}