a {
    text-decoration: none;
    color: #eeeff7;
}

.container {
    height: 100%;
    transition: all 1s;
}

.container-with-menu {
    height: 100%;
    transform: scale(0.8) translateX(9rem);
    filter: blur(5px);
    transition: all 1s;
}

.audio {
    font-size: 2.6rem;
    padding: 2rem;
    text-align: right;
    position: absolute;
    right: 0;
    z-index: 10000;
    transition: all 0.3s;
}

.audio > .soundIcon {
    position: absolute;
    left: 0;
    cursor: pointer;
}

