@import "../base.css";

.container{
    margin: 1rem;
    display: inline-block;
}

.box{
    width: 14.5rem;
    height: 3.1rem;
    position: absolute;
    margin: 0;
    border-radius: 0.05rem;
    border: 0.3rem solid;
    opacity: 0;
}

a{
    font-weight: 500;
    text-decoration: none;
    color: var(--accentColor);
}