/**
 * Created by chris on 6/1/2016.
 */
.container{
    font-size: 3.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 6rem;
    width: 40rem;
    overflow: hidden;
    transition: background-color 1s, width 1s, font-size 0.3s;
    color: #eeeff7;
    text-decoration: none;
    border-bottom: solid #424242 thin;
    white-space: nowrap;
}

.container:hover{
    background-color: #EA2E49;
    width: 100vw;
    font-size: 4.2rem;
}